<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>RJWebsite</display-name>
    <welcome-file-list>
        <welcome-file>control.LandingPage.java</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LandingPage</servlet-name>
        <servlet-class>controller.LandingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingJobController</servlet-name>
        <servlet-class>controller.SeachingJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingConpanyController</servlet-name>
        <servlet-class>control.SeachingConpanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingCompanyController</servlet-name>
        <servlet-class>controller.SeachingCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingJobController</servlet-name>
        <servlet-class>controller.SeachingJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateApplyJobPageController</servlet-name>
        <servlet-class>controller.CandidateApplyJobPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowCompanyController</servlet-name>
        <servlet-class>controller.FollowCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetailController</servlet-name>
        <servlet-class>controller.JobDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecruitment</servlet-name>
        <servlet-class>controller.CreateRecruitmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentPostedController</servlet-name>
        <servlet-class>controller.RecruitmentPostedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateCompanyFollowingPage</servlet-name>
        <servlet-class>controller.CandidateCompanyFollowingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentPostedController</servlet-name>
        <servlet-class>controller.RecruitmentPostedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruiterDetailController</servlet-name>
        <servlet-class>controller.RecruiterDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecruiter</servlet-name>
        <servlet-class>controller.CreateRecruiter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateViewRecruiterDetail</servlet-name>
        <servlet-class>controller.CandidateViewRecruiterDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateProfileController</servlet-name>
        <servlet-class>controller.CandidateProfileController</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>ErrorPageController</servlet-name>
        <servlet-class>controller.ErrorPageController</servlet-class>
    </servlet>
   


    <servlet-mapping>
        <servlet-name>LandingPage</servlet-name>
        <url-pattern>/landingpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachingCompanyController</servlet-name>
        <url-pattern>/seachingcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachingJobController</servlet-name>
        <url-pattern>/seachingjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateApplyJobPageController</servlet-name>
        <url-pattern>/candidateapplyjobpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowCompanyController</servlet-name>
        <url-pattern>/followcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailController</servlet-name>
        <url-pattern>/jobdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecruitment</servlet-name>
        <url-pattern>/CreateRecruitment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateCompanyFollowingPage</servlet-name>
        <url-pattern>/companyfollowingPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentPostedController</servlet-name>
        <url-pattern>/RecruitmentPostedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruiterDetailController</servlet-name>
        <url-pattern>/RecruiterDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecruiter</servlet-name>
        <url-pattern>/CreateRecruiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateViewRecruiterDetail</servlet-name>
        <url-pattern>/candidateviewrecruiterdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateProfileController</servlet-name>
        <url-pattern>/candidateprofilecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorPageController</servlet-name>
        <url-pattern>/errorPage</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>400</error-code>
        <location>/errorPage</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage</location>
    </error-page>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/errorPage</location>
    </error-page>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <servlet-mapping>
            <servlet-name>SeachingCompanyController</servlet-name>
            <url-pattern>/seachingcompany</url-pattern>
        </servlet-mapping>
    </session-config>
    <mvc:resources location="/asset/" mapping="/asset/**"></mvc:resources>
</web-app>
