<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>RJWebsite</display-name>
    <welcome-file-list>
        <welcome-file>control.LandingPage.java</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LandingPage</servlet-name>
        <servlet-class>control.LandingPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>control.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>control.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingJobController</servlet-name>
        <servlet-class>control.SeachingJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingConpanyController</servlet-name>
        <servlet-class>control.SeachingConpanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingCompanyController</servlet-name>
        <servlet-class>control.SeachingCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingJobController</servlet-name>
        <servlet-class>control.SeachingJobController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LandingPage</servlet-name>
        <url-pattern>/landingpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachingCompanyController</servlet-name>
        <url-pattern>/seachingcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachingJobController</servlet-name>
        <url-pattern>/seachingjob</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
