/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 7, 2022, 11:48:44 AM
    Author     : USE
*/
table{
    width: 900px;
    height: auto;
    margin: 30px auto;
    font-weight: bold;
}

table tr {
    height: 40px;
}

span{
    font-weight: bold;
    margin-left: 240px;
}
.des{
    margin-left: 67px;
    height: 100px;
    width: 600px;
}

.btn{
    width: 180px;
    height: 30px;
    margin: 50px auto;
    display: block;
    background-color: #1874CD;
    color: white;
}
