/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 2, 2022, 11:12:46 AM
    Author     : admin
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 19, 2022, 10:04:22 PM
    Author     : admin
*/
.wrapper {
    border : 2px solid #000;
    overflow:hidden;
}
.wrapper div {
    min-height: 200px;
    padding: 10px;
}
#one {
    background-color: gray;
    float:left;
    margin-right:20px;
    width:140px;
    border-right:2px solid #000;
}
#two {
    background-color: white;
    overflow:hidden;
    margin:10px;
    border:2px dashed #ccc;
    min-height:170px;
}

@media screen and (max-width: 400px) {
    #one {
        float: none;
        margin-right:0;
        width:auto;
        border:0;
        border-bottom:2px solid #000;
    }
}
.box{
    margin-top: 20px;
    width: 1500px;
    height: 1000px;
}
.box .col{
    width: 420px;
    height: 200px;
    background-color: yellow;
    float: left;
    padding: 40px;
    margin: 30px;
    background-color: #c4c4c4;
    border-radius: 30px;
}
.box .col h4{
    margin-top: 28px;
}
#sidebarMenu{
    float: left
}
.content{
    width: 1550px;
    text-align: center;
    height: 200px;
    height: 1000px;
}
.searchcontainer{
    margin-top: 30px;
    width: 700px;
}
.table{
    margin-top: 40px;
}
.action{
    width: 500px;
    text-align: center;
}
.table td{
    height: 90px;
}
.de{
    width: 50px;
}
#addbtn{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}
#addbtn{
    width: 120px;
    height: 35px;
    color: White;
    background-color: #343A40 ;
}