/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 19, 2022, 10:04:22 PM
    Author     : admin
*/

.box{
    margin-top: 20px;
    width: 1500px;
    height: 1000px;
}
.box .col{
    width: 420px;
    height: 200px;
    background-color: yellow;
    float: left;
    padding: 40px;
    margin: 30px;
    background-color: #c4c4c4;
    border-radius: 30px;
}
.box .col h4{
    margin-top: 28px;
}
#sidebarMenu{
    float: left
}
.content{
    
    width: 1550px;
    text-align: center;
    height: 200px;
    height: 1000px;
}
.searchcontainer{
    margin-top: 50px;
    width: 700px;
}
.table{
    margin-top: 40px;
}
.action{
    width: 500px;
    text-align: center;
}
.table #a1{
    margin-right: 100px;
}
.table #a3{
    margin-left: 100px;
}
.table td{
    height: 90px;
}
